.container {
  display: flex;
  flex-direction: row;
  height: 100%
}

.canvas {
  flex: 0.68 0 0;
  height: 100%;
}

.projectSections {
  flex: 0.32 1 0;
  height: 100%;
  overflow-y: scroll;
  padding: 3em 10em;
}

.blurb {
  margin-bottom: 2em;
}