.projectHeading {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projectHeadingText {
  font-size: 1em;
}

.projectDescription {
  margin-bottom: 3em;
  color: var(--secondary);
}

.projectDescriptionText {
  margin-bottom: 1em;
}

.projectDescriptionLink {
  text-decoration: underline;
}

.projectSectionHeader {
  font-size: 1em;
  margin-bottom: 2em;
}