.projectSectionHeader {
  font-size: 1em;
  margin-bottom: 2em;
}

.projectWrapper {
  margin-bottom: 2em;
}

.projectHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projectHeadingText {
  font-size: 1em;
}

.projectDescription {
  margin-top: 1em;
  font-size: 0.9em;
  overflow: hidden;
  color: var(--secondary);
}

.projectDescriptionText {

  margin-bottom: 0.9em;
}

.projectDescriptionLink {
  font-size: 0.9em;
}