.projectHeading {
  font-size: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectDescription {
  margin-bottom: 1em;
}

.projectSectionHeader {
  font-size: 1em;
  margin-bottom: 1em;
}